*{margin: 0;
    padding: 0}
ul li{list-style: none}
a{text-decoration: none;
    color: black}
.head img{width: 100%;min-width: 1280px;
    display: block;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both}
.nav{width: 100%;min-width: 1280px;
    height: 60px;
    background: #6F1418;
    overflow: hidden;}
.subnav li{float: left;
    line-height: 61px;
    display: block;
    width: 100px;
    text-align: center;
    padding: 0 76px;}
.subnav li a{color: white;
    display: block;}
 .subnav li a:hover{background: white;
    color: #6F1418;}
 .select{background: white;
    color: #6F1418!important;}
.subnav{width: 1280px;
    height: 60px;
    margin: 0 auto}
  img{ display: block; border:none;}
  ul,li{ list-style: none;}
   .lubo{ width: 100%;min-width: 1280px;clear: both; position: relative; height:599px;}
  .lubo_box{ position: relative; width: 100%;min-width: 1280px; height:368px; }
  .lubo_box li{ float: left;position: absolute; top: 0; left: 0; width: 100%; height:599px; opacity: 0;filter:alpha(opacity=0);}
  .lubo_box li a{ display: block;width: 100%;min-width: 1280px;  height: 100%;}

  .lubo_box li img{ width: 100%;min-width: 1280px; height: 368px;}

  /*圆点*/
  .cir_box{ overflow: hidden; position: absolute; z-index: 100;}
  .cir_box li{ 
    float: left; 
    width: 20px; height:20px; margin:0 5px; cursor: pointer; background:#D6D6BD; opacity: 0.8;filter:alpha(opacity=80);
    border-radius: 20px;
    background: url(../images/circle_on.png) no-repeat\9;
    *background: url(../images/circle_on.png) no-repeat;
    _background: url(../images/circle_on.png) no-repeat;
  }
  .cir_on{ 
    background:#6F1418 !important;
    background: url(../images/circle.png) no-repeat\9 !important;
    *background: url(../images/circle.png) no-repeat !important;
    _background: url(../images/circle.png) no-repeat !important;
  }

  /*按钮*/
  .lubo_btn{ position: absolute; width: 100%;min-width: 1280px; top: 200px;}
  .left_btn, .right_btn{ width: 30px; height: 80px; background: #000;opacity: 0.8;filter:alpha(opacity=80); cursor: pointer; color: #fff; line-height: 80px; font-size: 30px; text-align: center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
  .left_btn{ float: left;}
  .right_btn{ float: right;}
.overflow{overflow: hidden;}
.content{background: url(../images/3-content.jpg) no-repeat center;min-width: 1280px;
  height: 1903px;}
.h1{background: url(../images/bantb.png) no-repeat  420px 120px;
    height:100px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    padding-top: 120px;
    padding-bottom: 110px;}
.cont,.conc,.conb{width: 1158px;
  height: 412px;
  background: white;
  margin: 0 auto;
  overflow: hidden;}
.contl{margin:11px;}
.contr{width: 600px;
  height: 234px;
  padding: 88px;
  }
h2{font-size: 24px;
  color: #6F1418;
  text-decoration: underline;
  line-height: 40px;}
h2 a{color: #6F1418;}
.contr p{font-size: 14px;
  color: #313131;
  line-height: 25px;}
.contr ul li{line-height: 35px;}
.conc,.conb{margin-top:20px }
.button li{float: left;}
.button li a{display: inline-block;
  width: 50px;
  height: 50px;
  background: #F6F6F6;
  margin: 0 5px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #6B6B6B;
  border-radius: 10px;}
.button{width: 666px;
  height: 50px;
  margin: 0 auto;
  margin-top: 168px;}
.style{background: #691216!important;
  color: white!important}
footer{background: url(../images/1-foot.jpg) repeat-x ;min-width: 1280px;
  height: 167px}
footer ul li a{color: white;
    border-right: 1px solid white;
    padding: 0 20px;
    }
.lasta a{border-right: 0}
footer ul li{float: left;
  
  line-height: 64px;
  height: 20px;
  color: white;
}
footer ul{width: 1000px;
  height: 64px;
  margin: 0 auto}
.btp{width:878px;
  margin: 0 auto;
  color: white;
  line-height: 50px;
  height: 50px;}
footer>.p10{width:480px;
  margin: 0 auto;
  color: white;
  line-height: 50px;}
