*{margin: 0;
    padding: 0}
ul li{list-style: none}
a{text-decoration: none;
    color: black}
.head img{width: 100%;min-width: 1280px;
    display: block;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both}
.nav{width: 100%;min-width: 1280px;
    height: 60px;
    background: #6F1418;
    overflow: hidden;}
.subnav li{float: left;
    line-height: 61px;
    display: block;
    width: 100px;
    text-align: center;
    padding: 0 76px;}
.subnav li a{color: white;
    display: block;}
 .subnav li a:hover{background: white;
    color: #6F1418;}
 .select{background: white;
    color: #6F1418!important;}
.subnav{width: 1280px;
    height: 60px;
    margin: 0 auto}
  img{ display: block; border:none;}
  ul,li{ list-style: none;}
.content{background: url(../images/5-con.jpg) no-repeat center center;min-width: 1280px;
    height: 2913px;}
.con{width: 1200px;
    margin: 0 auto}
.bread li{float: left;}
.bread li:last-child a{color:#6F1418;}
.bread{padding-top: 50px;
    padding-bottom: 70px}
.con1 p span{font-size: 24px;
    color:#6F1418;
    width: 316px;
    display: block;
    border-bottom: 3px solid #6F1418}
.con1 p{border-bottom: 1px solid #6F1418;
    margin-bottom: 60px}
.con2 p span{font-size: 24px;
    color:#6F1418;
    width: 316px;
    height: 28px;
    float: right;
    text-align: right;
    display: block;
    border-bottom: 3px solid #6F1418}
.con2 .p1{border-bottom: 1px solid #6F1418;
    margin-top: 96px;
    display: block;
    height: 31px;}
.con2l img{margin-top: 66px;
    margin-left: 16px;}
.con2r{width: 454px;
    height: 670px;
    margin-top: 120px;
    margin-right: 108px}
.con2r .p2{font-size: 16px;
    border-bottom: 1px solid #81614C}
.detail li{line-height: 30px;
    text-indent: 24px;
    position: relative;}
.con2r .p3{font-size: 16px;
    border-bottom: 1px solid #81614C;
    margin-top: 20px;}
.ul>li>p{float: left;
    width: 88px;
    height: 20px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    background: #C2C0BA;
    margin-left: 2px;
    color: white}
.ul>li{float: left;
    width: 454px;
    line-height: 40px}
.ul>li>h4{line-height: 58px}
.style{background:#949494!important}
.con3 p span{font-size: 24px;
    color:#6F1418;
    width: 316px;
    display: block;
    border-bottom: 3px solid #6F1418}
.con3 p{border-bottom: 1px solid #6F1418;
    margin-bottom:120px}
.con3{margin-top: 100px; }
.con3l i{font-size: 24px;
    font-weight: bold;
    color:#691216}
.con3l{background: url(../images/5-imgsan.png) no-repeat 166px;
    height: 618px;
    width: 532px;
    float: left;
    position: relative;}
.con3l span{position: absolute;
    top: 270px;
    left: 308px;}
.con3l div{position: absolute;
    top: 510px;
    left:40px;}
footer{background: url(../images/1-foot.jpg) repeat-x ;min-width: 1280px;
  height: 167px}
footer ul li a{color: white;
    border-right: 1px solid white;
    padding: 0 20px;
    }
.lasta a{border-right: 0}
footer ul li{float: left;
  
  line-height: 64px;
  height: 20px;
  color: white;
}
footer ul{width: 1000px;
  height: 64px;
  margin: 0 auto}
.btp{width:878px;
  margin: 0 auto;
  color: white;
  line-height: 50px;
  height: 50px;}
footer>.p10{width:480px;
  margin: 0 auto;
  color: white;
  line-height: 50px;}