*{margin: 0;
    padding: 0}
ul li{list-style: none}
a{text-decoration: none;
    color: black}
.head img{width: 100%;
    min-width: 1280px;
    display: block;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both}
.nav{width: 100%;
  min-width: 1280px;
    height: 60px;
    background: #6F1418;
    overflow: hidden;}
.subnav li{float: left;
    line-height: 61px;
    display: block;
    width: 100px;
    text-align: center;
    padding: 0 76px;}
.subnav li a{color: white;
    display: block;}
 .subnav li a:hover{background: white;
    color: #6F1418;}
 .select{background: white;
    color: #6F1418!important;}
.subnav{width: 1280px;
    height: 60px;
    margin: 0 auto}
  img{ display: block; border:none;}
  ul,li{ list-style: none;}
  .lubo{ width: 100%; min-width:1280px;clear: both; position: relative; height:599px;}
  .lubo_box{ position: relative; width: 100%; min-width: 1280px;height:368px; }
  .lubo_box li{ float: left;position: absolute; top: 0; left: 0; width: 100%; height:599px; opacity: 0;filter:alpha(opacity=0);}
  .lubo_box li a{ display: block;width: 100%;
  min-width: 1280px;  height: 100%;}

  .lubo_box li img{ width: 100%;min-width: 1280px; height: 368px;}

  /*圆点*/
  .cir_box{ overflow: hidden; position: absolute; z-index: 100;}
  .cir_box li{ 
    float: left; 
    width: 20px; height:20px; margin:0 5px; cursor: pointer; background:#D6D6BD; opacity: 0.8;filter:alpha(opacity=80);
    border-radius: 20px;
    background: url(../images/circle_on.png) no-repeat\9;
    *background: url(../images/circle_on.png) no-repeat;
    _background: url(../images/circle_on.png) no-repeat;
  }
  .cir_on{ 
    background:#6F1418 !important;
    background: url(../images/circle.png) no-repeat\9 !important;
    *background: url(../images/circle.png) no-repeat !important;
    _background: url(../images/circle.png) no-repeat !important;
  }

  /*按钮*/
  .lubo_btn{ position: absolute; width: 100%;min-width: 1280px; top: 200px;}
  .left_btn, .right_btn{ width: 30px; height: 80px; background: #000;opacity: 0.8;filter:alpha(opacity=80); cursor: pointer; color: #fff; line-height: 80px; font-size: 30px; text-align: center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
  .left_btn{ float: left;}
  .right_btn{ float: right;}
.overflow{overflow: hidden;}
.content{height: 1478px;
  width: 100%;min-width: 1280px;
  background: url(../images/2-body.png) no-repeat center center;
  position: relative;}
.mh{position: absolute;
  top: -20px;
  left: 0px;}
.h1{background: url(../images/bantb.png) no-repeat  420px 76px;
    height:100px;
    text-align: center;
    line-height: 100px;
    padding-top: 76px;}
.contentt{width: 1200px;
    margin: 0 auto;
    position: relative;}
.kuang{background: url(../images/1-kuang.png)no-repeat center center;
  height: 430px;
  margin-top: 65px;}
.kuang span{position: absolute;
  top: 300px;
  left:160px;
  font-size: 18px;
  line-height: 44px;
  height: 366px;}
.click{background: url(../images/1-ck.png) no-repeat;
  color: white;
  width: 155px;
  height: 30px;
  line-height: 30px;
  text-indent: 24px;}
.h2{background: url(../images/bantb.png) no-repeat  420px 108px;
    height:100px;
    text-align: center;
    line-height: 100px;
    padding-top:108px;
    padding-bottom: 84px}
.contentb{width: 1200px;
    margin: 0 auto;
    position: relative;}
.contentb div p{float: left;;
  padding: 0 18px;} 
.contentb div p:last-child{
  padding-right: 0
}
.contentb div p:first-child{
  padding-left: 0
}
.p1{background: url(../images/2-img1.png) no-repeat;
  height: 366px;
  width: 273px}
.p1 span{font-size: 13px;
  width: 13px;
  display: block;
  position: absolute;
  top: 400px;
  left: 45px;
  display: block;}
.p2 span{font-size: 13px;
  width: 13px;
  display: block;
  position: absolute;
  top: 400px;
  left: 45px;
  display: block;}
.p3 span{font-size: 13px;
  width: 13px;
  display: block;
  position: absolute;
  top: 400px;
  left: 45px;
  display: block;}
.p4 span{font-size: 13px;
  width: 13px;
  display: block;
  position: absolute;
  top: 400px;
  left: 45px;
  display: block;}
.span1{margin-left:40px;}
.span2{margin-left: 18px;}
.span3{margin-left:333px;}
.span4{margin-left: 308px;}
.span5{margin-left: 284px;}
.span6{margin-left: 648px;}
.span7{margin-left: 623px;}
.span8{margin-left: 600px;}
.span9{margin-left: 945px;}
.span10{margin-left: 920px;}
.span11{margin-left: 900px;}
.p2{background: url(../images/2-img2.png) no-repeat;
  height: 366px;
  width: 273px}
.p3{background: url(../images/2-img3.png) no-repeat;
  height: 366px;
  width: 273px}
.p4{background: url(../images/2-img4.png) no-repeat;
  height: 366px;
  width: 240px}
.h1c{width: 30px;
  height: 60px;
  position: absolute;
  top: 330px;
  left: 156px;}
.h1w{width: 30px;
  height: 60px;
  position: absolute;
  top: 358px;
  left: 200px;}
.h2c{width: 30px;
  height: 60px;
  position: absolute;
  top: 330px;
  left:454px;}
.h2w{width: 30px;
  height: 60px;
  position: absolute;
  top: 358px;
  left:494px;}
.h3c{width: 30px;
  height: 60px;
  position: absolute;
  top: 330px;
  left:760px;}
.h3w{width: 30px;
  height: 60px;
  position: absolute;
  top: 358px;
  left:800px;}
.h4c{width: 30px;
  height: 60px;
  position: absolute;
  top: 330px;
  left:1060px;}
.h4w{width: 30px;
  height: 60px;
  position: absolute;
  top: 358px;
  left:1100px;}
.bta{background: url(../images/1-ck.png) no-repeat 80px;
  display: block;
  height: 30px;
  width: 155px;
  margin-top:25px;
  padding-left: 110px;
  color: white;
  line-height: 30px;
  margin-left: 38px;}
.bta1{background: url(../images/1-ck.png) no-repeat 80px;
  display: block;
  height: 30px;
  width: 155px;
  margin-top:25px;
  padding-left: 110px;
  color: white;
  line-height: 30px;
  margin-left:-16px;}
footer{background: url(../images/1-foot.jpg) repeat-x ;min-width: 1280px;
  height: 167px}
footer ul li a{color: white;
    border-right: 1px solid white;
    padding: 0 20px;
    }
.lasta a{border-right: 0}
footer ul li{float: left;
  
  line-height: 64px;
  height: 20px;
  color: white;
}
footer ul{width: 1000px;
  height: 64px;
  margin: 0 auto}
.btp{width:878px;
  margin: 0 auto;
  color: white;
  line-height: 50px;
  height: 50px;}
footer>.p10{width:480px;
  margin: 0 auto;
  color: white;
  line-height: 50px;}