*{margin:0;padding: 0}
#lottery{width:574px;height:584px;margin:20px auto 0;background:url(images/bg.jpg) no-repeat;padding:50px 55px;}
#lottery table td{width:142px;height:142px;text-align:center;vertical-align:middle;font-size:24px;color:#333;font-index:-999}
#lottery table td a{display:block;text-decoration:none;}
#lottery table td.active{background:rgba(0,0,0,0.5)!important;color: white}
.lottery-unit>img{width: 100%;}
.lottery-unit{position: relative;}
.lottery-unit>p{position: absolute;text-align: center;width: 100%}