*{margin:0;padding: 0;}
a{text-decoration: none;color:white}
ul li{list-style: none}
html { font-size: 11px;width: 100%;height: 100%}
@media (min-width: 100px) and (max-width: 375px) {
  html{font-size: 10px;}
}
@media (min-width: 376px) and (max-width: 414px) {
  html{font-size: 12px;}
}
@media (min-width: 415px) and (max-width: 639px) {
  html{font-size: 14px;}
}
@media (min-width: 640px) and (max-width: 719px) {
  html{font-size: 15px;}
}
@media (min-width: 720px) and (max-width: 749px) {
  html{font-size: 16px;}
}
@media (min-width: 750px) and (max-width: 799px) {
  html{font-size: 17px;}
}
@media (min-width: 800px) and (max-width: 992px) {
  html{font-size: 21px;}
}
@media (min-width: 993px) and (max-width: 1366px) {
  html{font-size: 30px;}
}
body {
  width: 100%;
  margin: 0;
  font-size: 1.2rem;
  background: url(../img/sharebg.png) no-repeat;
  background-size: 100%;
  color: white;
  height: inherit;
}
.content{text-align: center;    margin-top: 10%;}
.con1,.con2{margin-top: 24%}
.content>p{font-size: 1.8rem;}
.content>p>span{color: #FFD512}
.content>h4{font-size: 2rem;
    margin-top: 1%;font-weight: 100}
 input[placeholder]{
 color: #ffd0ee;
 }
.con1 .input1,.input2{display: block;
    margin: 0 auto;
    width: 58vw;
    height: 8vw;
    border-radius: 8vw;font-size: 1.4rem;text-align: center;border:0 none;background: #f147b3;}
.con1 .con1btn,.con2 con1btn2{width: 58vw;font-size: 1.4rem;
    height: 8vw;
    border-radius: 8vw;margin: 0 auto;text-align: center;line-height: 8vw;margin-top: 3vw;background:#D972FF;cursor: pointer;}
.con2 p{width: 50vw;
    height: 8vw;background: url(../img/goodluck.png) no-repeat;background-size: 100%;margin: 0 auto}







.none{ pointer-events: none;}
#lottery{display: table;margin: 0 auto;padding-top:12%;padding-bottom: 15%;}
#lottery table{margin: 8vw}
#lottery table td{width: 22vw;
display: inline-table;
height: 22vw;
background: #ffd2b3;
border-radius: 1.8vw;
margin: 0.4vw;
overflow: hidden;
float: left;  }
#lottery table td a{display: block;width: 100%;text-align: center;text-decoration: none;color: #000}
#lottery table td .active{background:rgba(0,0,0,0.3)!important;color: white}
.lottery-unit>img{width: 100%;}
.lottery-unit{position: relative;}
.lottery-unit>p{position: absolute;text-align: center;width: 100%}
.lottery-unit-complete img{
    width: 100%;
margin: 0 auto;
display: block;}
.lottery-unit-complete a:active{background: pink!important}
.lotteryCon{float: left;background: url(../img/contentbg.png) no-repeat;
    background-size: 100%}
#lottery>p{text-align: center;margin-bottom: 1%;color: white;font-size: 1.4rem;}
#lottery>p>span{font-size: 1.8rem;color: #ffff00}
.lottery-unit em{width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;border-radius: 1.8vw;}
.divqr{width: 58vw;
margin: 0 auto;}
.input2{margin-top:3vw;margin-bottom:3vw}
.divqr input{width: 49%;
height: 8vw;
border-radius: 8vw;
border: 0 none;background: #f147b3;color: #ffd0ee;text-align: center;}
.divqr div{float: right;
height: 8vw;
width: 49%;
text-align: center;
line-height: 8vw;
color: #ffd0ee;
border-radius: 8vw;background: #f147b3;}
.con2{height:41vw}
.con1btn2{width: 58vw;
background: #d972ff;
height: 8vw;
line-height: 8vw;
text-align: center;
border-radius: 8vw;
margin: 0 auto;
margin-top: 0px;
margin-top: 10vw;}
#mask{width: 100%;overflow: hidden;background: rgba(0,0,0,0.3);position:absolute;top:0;z-index: 9999;padding-top: 16%;display: none;padding-bottom: 12%;
    height: 100%;}
/*.hidden{overflow: hidden;}*/
.maskInfo{width: 50vw;
height: 70vw;
background: white;
margin: 0 auto;
    margin-top: 0px;
margin-top: 42%;
border-radius: 3vw}
.maskInfo>p{font-size: 2rem;font-weight: 100 }
.maskInfo>p>span{float: right;
cursor: pointer;
width: 14vw;
height: 14vw;
text-align: center;line-height: 14vw;font-size: 3.4rem;color: #000;}
.maskInfo>h1{clear: both;font-size: 1.8rem;
color: #df0000;
font-weight: 100;
text-align: center;}
.maskInfo>img{width: 66%;
margin: 0 auto;
display: table;margin-top: 3vw;
margin-bottom: 3vw;}
.maskInfo>div{width: 66%;margin:0 auto;}
.maskInfo>div>a{display: block;
width: 100%;
background: #ff4a1a;
color: white;
text-align: center;
margin-top: 6%;
height: 7vw;
line-height: 7vw;
border-radius: 4vw;
font-size: 1.4rem}
.lottery-unit-complete{background:transparent!important;}
